@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Rubik+Wet+Paint&family=Shadows+Into+Light&display=swap');

body{
    background-color: rgb(49, 48, 48);
    color: aliceblue;
}

header{
    display: flex;
    justify-content: right;
}
#menu{
    color: aliceblue;
    font-size: 22px;
    margin: 3px;
    font-family: 'Lobster';
}

#inicio{
    display: flex;
    margin-top: 5%;
    box-shadow: -1px 1px 10px 1px rgb(11, 95, 230);
    width: 100%;
    justify-content: center;
}

#text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Lobster';
    margin-top: 3%;
}

h1{
    margin-left: 15%;
}

#imgcab{
    width: 19%;
    margin-left: 10%;
    
}